<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homeki.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:name=".HomekiApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.Holo"
        >
        <activity
            android:name=".DeviceListActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".communication.CommandSendingService" >
        </service>

        <activity
            android:name="SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="SwitchActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="EditSwitchActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimerTriggerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TriggerListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddTriggerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>