<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.homeki.android"
          android:versionCode="12"
          android:versionName="0.0.12">

  <uses-sdk
    android:minSdkVersion="14"
    android:targetSdkVersion="17"/>

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
    android:uiOptions="none"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:allowBackup="true"
    android:theme="@style/AppTheme">
    <activity
      android:name=".DeviceCollectionActivity"
      android:label="@string/title_activity_main">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name=".SettingsActivity"
      android:label="@string/title_activity_main">
    </activity>
    <receiver android:name=".reporter.ConnectivityIntentReceiver">
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
      </intent-filter>
    </receiver>
    <receiver android:name=".reporter.ReporterAlarmReceiver"></receiver>
  </application>
</manifest>