<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.homeki.android">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

  <application
    android:uiOptions="none"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:allowBackup="true"
    android:theme="@style/AppTheme">
    <activity
      android:name=".DeviceCollectionActivity"
      android:label="@string/title_activity_main">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name=".SettingsActivity"
      android:label="@string/title_activity_main">
    </activity>
    <service android:name=".reporter.GeofencingIntentService"/>
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
  </application>
</manifest>